/* Ma partie CSS */
h1 {
  text-align: center;
}

.img-fluid{
  transition: all 0.5s ease;
  cursor: pointer;
}

.img-fluid:hover{
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.12);
}

a {
  color: #D19C97 ;
  text-decoration: none;
  background-color: transparent;
}

a:hover, svg:hover {
  color: #ba6a62 !important;
  text-decoration: solid ;
}

.modal-content {
  background-color: black ;
  opacity: 0.99;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  border-style: double;
  position: relative;
}

/* CSS du Prof (importé) */
.msgFormEnreg {
  color: yellowgreen !important;
  font-size: 11px !important;
}

.panierPlus {
  float: right;
  font-size: 24px !important;
  margin-right: -8px;
}

#bdc {
  margin-right: 30px;
}

#nbart {
  margin-left: -8px;
}

.deconnexion {
  float: right;
  color: grey;
  font-size: 30px !important;
  cursor: pointer;
}

.closeBtn {
  color: red;
  cursor: pointer;
}

.bgcolorFacture {
  background-color: #bbabab !important;
}

#payer {
  margin-left: 10px;
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.maCard {
  margin-top: 25px;
}

ul {
  list-style-type: none;
}

.liadmin {
  color: white;
}

.liadmin:hover {
  color: yellow;
}

#msg1, #msg2, #msg2, #msg2{
  color:yellow;
}

/* partie ajoutée par Mous  */

#entete {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  font-size: 14px;

}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

