html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('https://unsplash.it/3840/2160?image=998');
    background-repeat: no-repeat;
    background-size: cover; 
  }